---
layout: default
---

<div class="post">

  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}
  <div class="post-date-follow-container">
    <a href="https://twitter.com/joshuaballoch?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @joshuaballoch</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div></span>
  {{ content }}
</div>

  <div id="popup1" class="hidden">
    <h3>Hello!</h3>
    <p>I started <a href="https://thimble.dev">Thimble</a>, a software consulting firm focused on helping businesses build better software.
    </p>
    <p>
    If you liked this article, live in London, and might be interested in working together, <a href="https://thimble.dev/careers">we're hiring!</a>
    </p>
  </div>
  <script>

    $(document).ready(function() {
      setTimeout(
        function() {
          $(this).simplePopup({ type: "html", htmlSelector: "#popup1" });
        },
        10000
      );
    });
  </script>

{% if page.subscribe_cta %}
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://github.us17.list-manage.com/subscribe/post?u=0eecf7b11d230c72e556f1aae&amp;id=fb28e7182b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to a weekly digest!</label>
  <div class="twitter-follow-container">
    <a href="https://twitter.com/joshuaballoch?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @joshuaballoch</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0eecf7b11d230c72e556f1aae_fb28e7182b" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
{% endif %}

{% if page.comments %}
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
   var disqus_config = function () {
   this.page.url = {{site.url}}{{page.url}};  // Replace PAGE_URL with your page's canonical URL variable
   this.page.identifier = page.url; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
   };
   */
(function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://josh-ballochs-blog.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %}

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
